/* 
---------------------------------------------
home
--------------------------------------------- 
*/
.home-services-item {
  display: block;
  background-image: linear-gradient(127deg, #fff 0%, #fff 91%);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  font-weight: 400;
  font-size: 14px;
  color: #6f8ba4;
  line-height: 26px;
  letter-spacing: 0.88px;
  padding: 30px;
  border-radius: 40px;
  border-bottom-right-radius: 4px;
  margin-top: 30px;
  position: relative;
}
.home-services-item.box {
  border-radius: 4px !important;
}
.home-services-item.box:before {
  border-radius: 4px !important;
}
.home-services-item:before {
  content: "";
  border-radius: 40px;
  border-bottom-right-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-image: linear-gradient(127deg, #384dff 0%, #24cdff 91%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.home-services-item:hover,
.home-services-item.active {
  color: #f7f8ff;
}
.home-services-item:hover:before,
.home-services-item.active:before {
  opacity: 1;
}
.home-services-item:hover .services-title,
.home-services-item.active .services-title {
  color: #fff;
}
.home-services-item:hover i,
.home-services-item.active i {
  background-image: linear-gradient(127deg, #fff 0%, #fff 91%);
}
.home-services-item .services-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3b566e;
  margin-bottom: 23px !important;
  letter-spacing: 0.7px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
}
.home-services-item i {
  font-size: 26px;
  margin-bottom: 23px;
  background-image: linear-gradient(127deg, #384dff 0%, #24cdff 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
}
.home-services-item p {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 0px !important;
}
.home-services-item .btn-white-line {
  position: relative;
  z-index: 2;
  width: 100%;
}